.site-body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;

}

.list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #2196F3;
}

.link:focus {
    color: #2196F3;
}